# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env

# system active file
app/Tools/kms.bat

# The development sqlite file
database/development.sqlite

# VSCode & Webstorm history directories
.history
.idea

# ignore pm2 deploy config file
ecosystem.config.js
deploy.sh
proxy.js
